.container {
  position: absolute;
  bottom: 0;
  background: #141414;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 50px;
  z-index: 1;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5px;

    li {
      button {
        min-width: 80px;
        height: 30px;
      }
    }
  }
}
