.container {
  width: 800px;
  height: 600px;
  background: rgb(71, 71, 71);
  display: flex;
  position: relative;
}

.layout {
  flex: 1;
  display: flex;
  gap: 3px;
  flex-wrap: wrap;

  &Item {
    display: flex;
    flex: 1;
    flex-basis: 40%;
    // background: #000;
    position: relative;
    align-items: center;
    justify-content: center;
  }
}
