.container {
  width: 800px;
  height: 600px;
  background: #000;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 15px;
}

.layout {
  flex: 1;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;

  &Item {
    display: flex;
    flex: 1;
    flex-basis: 40%;
    position: relative;
    align-items: center;
    justify-content: center;
  }
}
