.container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  border: 2px dotted #000;
  margin: 15px;
}

.media {
  display: inline-block;
}

.form {
  &Field {
    margin-bottom: 8px;
  }
}

.camera {
  background: #000;
  width: 200px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    position: absolute;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: rotateY(180deg);
  }
}
